header{
    text-align: center;
}
section{
    text-align: center;
}
.descanso-corto {
    background-color: rgb(14, 27, 122) !important;
    border: 1px solid rgb(21, 26, 63);
}

.descanso-largo {
    background-color: rgb(153, 83, 22) !important;
    border: 3px solid rgb(85, 50, 20);
}

.flex{
    display: flex;
    justify-content: space-around;
}

.efecto-alarma{
    /* animation-duration: 1s;
    animation-name: alarma;
    animation-iteration-count: infinite; */
    animation: alarma 1s infinite;
}
@keyframes alarma {
    from {
        background-color: inherit;
        border: inherit;
    }
  
    to {

        background-color: rgb(255, 255, 255) !important;
        border: 1px solid rgb(255, 0, 119);
    }
  }


#pomodoro{
    background-image: url(./assets/pomodoro.svg);
    background-size: 350px;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 320px;
    min-width: 320px;
    height: 300px;

    display: flex;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
    flex-direction: column;

}

#reloj{
    background-color: rgb(70, 8, 8);
    color: beige;

    width: 120px;
    height: 46px;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;

    padding: 5px 8px 5px 8px ;

    margin-top: 45px;
    border-radius: 5px;

    text-align: center;
    vertical-align: middle;
    font-size: 40px;

}

#texto{
    margin-top: 10px;
    color: beige;
    text-shadow: 1px 1px #363636;
    font-size: 25px;
}